@model IEnumerable<Pet_Store.Models.Pet>

@{
    ViewBag.Title = "Pet Inventory";
}

<h2>Pet Inventory</h2>


<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Short Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src=@Url.Content(@Html.DisplayFor(modelItem => item.ImgPath).ToString()) width="200" height="200" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, Convert.ToInt32(item.Description.Length*.15))...
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
